<!-- Contact Bar Starts-->
<div class="contact-imfo-box">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-volume-control-phone"></i>
        <div class="overflow-hidden">
          <h4>Phone</h4>
          <p class="lead">
            +880 1xxx xxxxxx
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-envelope"></i>
        <div class="overflow-hidden">
          <h4>Email</h4>
          <p class="lead">
            info@deliciouscafe.com
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map-marker"></i>
        <div class="overflow-hidden">
          <h4>Location</h4>
          <p class="lead">
            6/B, Ashulia Model Town
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Bar Ends -->

<!-- Footer Starts -->
<footer class="footer-area bg-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h3>About Us</h3>
        <p>Our restaurant is one of the uniqe and best restaurant in Dhaka city. We have many beautiful and delicious dishes arranged by many talented and creative chefs. To enjoy & appreciate the wonderful food visite us because it's never too late
          to Eat, Drink, Love.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Opening hours</h3>
        <p><span class="text-color">Sat-Mon :</span> 2:PM - 11PM</p>
        <p><span class="text-color">Tue-Wed :</span> 12:PM - 11PM</p>
        <p><span class="text-color">Thu-Fri :</span> 12:PM - 11PM</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Contact information</h3>
        <p class="lead">Delicious Cafe,<br>Eastern University,<br>Road 6, Block B,<br>Ashulia Model Town, <br>Savar,Dhaka-1345, <br>Bangladesh.</p>
        <p class="lead">+880 1xxx xxxxxx</p>
        <p class="lead"><a href="contact"> info@deliciouscafe.com</a></p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Put us in your pocket</h3>
        <p class="lead">Download the token of love.</p>
        <a class="play" href="https://play.google.com/">
          <img src="images/playstore.png" alt="">
        </a>
        <a class="play" href="https://www.apple.com/app-store/">
          <img src="images/appstore.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline f-social">
            <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
          <p class="company-name">All Rights Reserved. &copy; 2021 <a href="index">Delicious Cafe</a><br>Designed By: Nafiz</p>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- Footer Ends -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.superslides.min.js"></script>
<script src="js/images-loded.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/baguetteBox.min.js"></script>
<script src="js/picker.js"></script>
<script src="js/picker.date.js"></script>
<script src="js/picker.time.js"></script>
<script src="js/legacy.js"></script>
<script src="js/form-validator.min.js"></script>
<script src="js/contact-form-script.js"></script>
<script src="js/custom.js"></script>

</body>

</html>
