<%- include("header") -%>

<div class="collapse navbar-collapse" id="navbars-rs-food">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active"><a class="nav-link" href="index">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="menu">Menu</a></li>
    <li class="nav-item"><a class="nav-link" href="reservation">Reservation</a></li>
    <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
  </ul>
</div>
</div>
</nav>
</header>
<!-- End header -->

<!-- Start slides -->
<div id="slides" class="cover-slides">
  <ul class="slides-container">
    <li class="text-center">
      <img src="images/slider-01.jpg" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Welcome To <br> Delicious Cafe</strong></h1>
            <p class="m-b-40">Best Food In Town!</p>
            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="reservation">Reservation</a></p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-center">
      <img src="images/slider-02.jpg" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Welcome To <br> Delicious Cafe</strong></h1>
            <p class="m-b-40">Best Food In Town!</p>
            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="reservation">Reservation</a></p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-center">
      <img src="images/slider-03.jpg" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Welcome To <br> Delicious Cafe</strong></h1>
            <p class="m-b-40">Best Food In Town!</p>
            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="reservation">Reservation</a></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="slides-navigation">
    <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
  </div>
</div>
<!-- End slides -->

<!-- Start About -->
<div class="about-section-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="images/about-img.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="inner-column">
          <h1>Welcome To <span>Delicious Cafe</span></h1>
          <h4>Little Story</h4>
          <p>Our restaurant is one of the uniqe and best restaurant in Dhaka city. We have many beautiful and delicious dishes arranged by many talented and creative chefs. To enjoy & appreciate the wonderful food visite us because it's never too
            late to Eat, Drink, Love.</p>
          <a class="btn btn-lg btn-circle btn-outline-new-white" href="reservation">Reservation</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End About -->

<!-- Start QT -->
<div class="qt-box qt-background_index">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-left">
        <p class="lead qt-backP">
          " To eat is a necessity, but to eat intelligently is an art. "
        </p>
        <span class="lead qt-backspan">François de La Rochefoucauld</span>
      </div>
    </div>
  </div>
</div>
<!-- End QT -->

<!-- Start Gallery -->
<div class="gallery-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-title text-center">
          <h2>Gallery</h2>
          <p>Checkout our foodbook.</p>
        </div>
      </div>
    </div>
    <div class="tz-gallery">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-01.jpg">
            <img class="img-fluid" src="images/gallery-img-01.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-02.jpg">
            <img class="img-fluid" src="images/gallery-img-02.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-03.jpg">
            <img class="img-fluid" src="images/gallery-img-03.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-04.jpg">
            <img class="img-fluid" src="images/gallery-img-04.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-05.jpg">
            <img class="img-fluid" src="images/gallery-img-05.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-06.jpg">
            <img class="img-fluid" src="images/gallery-img-06.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-07.jpg">
            <img class="img-fluid" src="images/gallery-img-07.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-08.jpg">
            <img class="img-fluid" src="images/gallery-img-08.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-09.jpg">
            <img class="img-fluid" src="images/gallery-img-09.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-10.jpg">
            <img class="img-fluid" src="images/gallery-img-10.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-11.jpg">
            <img class="img-fluid" src="images/gallery-img-11.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-12.jpg">
            <img class="img-fluid" src="images/gallery-img-12.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-13.jpg">
            <img class="img-fluid" src="images/gallery-img-13.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-14.jpg">
            <img class="img-fluid" src="images/gallery-img-14.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-15.jpg">
            <img class="img-fluid" src="images/gallery-img-15.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-16.jpg">
            <img class="img-fluid" src="images/gallery-img-16.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-17.jpg">
            <img class="img-fluid" src="images/gallery-img-17.jpg" alt="Gallery Images">
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a class="lightbox" href="images/gallery-img-18.jpg">
            <img class="img-fluid" src="images/gallery-img-18.jpg" alt="Gallery Images">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Gallery -->


<%- include("footer") -%>
